.imagen{
  background-image: url("https://1.bp.blogspot.com/-HHJ3SSkJq4c/XuEqT8ZJh4I/AAAAAAAAQeU/iZ8oMvnHcYYUS8QsYK5dTMXpSwjX_4_IgCNcBGAsYHQ/s1600/FONDO.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
