<section>
  <div class="flex justify-center imagen min-h-screen bg-cover py-40">
    <div class="rounded-md bg-blue-900 w-96 max-h-full flex justify-center py-10">
      <div class="space-y-8">
        <h1 class="text-4xl font-extrabold text-gray-900">
          INICIAR SESION
        </h1>
        <h2 class="text-1xl font-extrabold text-gray-900">
          Correo electronico
        </h2>
        <div>
          <input name="correo" type="text" [(ngModel)]="correo" class="relative block w-full px-3 py-2  border border-gray-300 sm:text-sm" placeholder="ejemplo:example@uni.pe">
        </div>
        <h2 class="text-1xl font-extrabold text-gray-900">
          Contraseña
        </h2>
        <div>
          <input  name="contra" type="password" [(ngModel)]="clave" class="relative block w-full px-3 py-2 border border-gray-300 sm:text-sm" placeholder="contraseña">
        </div>
        <div>
          <ul class="space-y-7">
            <li (click)="ingresar()"><a class="font-bold w-full flex justify-center py-2 px-2 text-white bg-blue-400 hover:bg-blue-700">INICIAR SESION</a></li>
          </ul>
          <p>{{mensaje}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
