<div class="bg-blue-900 h-full w-full">
  <br><br><br>
  <h1 class="text-4xl text-white text-center py-8 font-bold">
    CURSOS
  </h1>
  <br>
<div class="bg-gradient-to-r from-green-400 to-blue-500 space-y-4 text-2xl pl-54  text-black font-bold h-full w-full">
  <div class="w-3/5 mx-auto bg-green-600 shadow-2xl rounded pl-20">
    <div *ngFor="let item of listaCurso" >
      <div class="pt-16">
        Nombre:
      </div>
      <p class="text-lg pl-24 text-white">{{item.nombre}}</p>
      <div class="pt-16">
        Precio:
      </div>
      <p class="text-lg pl-24 text-white">{{item.precio}}</p>
      <div class="pt-16">
        Fecha de inicio:
      </div>
      <p class="text-lg pl-24 text-white">{{item.fecha_inicio}}</p>
      <div class="pt-16">
        Fecha de fin:
      </div>
      <p class="text-lg pl-24 text-white">{{item.fecha_fin}}</p>
    </div>
  </div>
</div>
</div>
