<section>
  <div class="flex justify-center imagen min-h-screen bg-cover py-40">
    <div class="rounded-md bg-blue-900 w-96 max-h-full flex justify-center py-10">
      <div class="space-y-8">
        <h1 class="text-4xl font-extrabold text-gray-900">
          INICIAR SESION
        </h1>
        <h2 class="text-1xl font-extrabold text-gray-900">
          Correo electronico
        </h2>
        <div>
          <input name="correo" type="text" [(ngModel)]="correo" class="relative block w-full px-3 py-2  border border-gray-300 sm:text-sm" placeholder="ejemplo:example@uni.pe">
        </div>
        <h2 class="text-1xl font-extrabold text-gray-900">
          Contraseña
        </h2>
        <div>
          <input  name="contra" type="password" [(ngModel)]="clave" class="relative block w-full px-3 py-2 border border-gray-300 sm:text-sm" placeholder="contraseña">
        </div>
        <div>
          <ul class="space-y-7">
            <li (click)="ingresar()"><a class="font-bold w-full flex justify-center py-2 px-2 text-white bg-blue-400 hover:bg-blue-700">INICIAR SESION</a></li>
          </ul>
          <p>{{mensaje}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gradient-to-r from-green-400 to-blue-500 space-y-4 text-2xl pl-54  text-black font-bold h-full w-full">
    <div class="w-3/5 mx-auto bg-green-600 shadow-2xl rounded pl-20">
      <div *ngFor="let item of listaCursos" >
        <div class="pt-16">
          Nombre:
        </div>
        <p class="text-lg pl-24 text-white">{{item.nombre}}</p>
        <div class="pt-16">
          Precio:
        </div>
        <p class="text-lg pl-24 text-white">{{item.precio}}</p>
        <div class="pt-16">
          Fecha de inicio:
        </div>
        <p class="text-lg pl-24 text-white">{{item.fecha_inicio}}</p>
        <div class="pt-16">
          Fecha de fin:
        </div>
        <p class="text-lg pl-24 text-white">{{item.fecha_fin}}</p>
      </div>
    </div>
  </div>
</section>
