<div class="bg-blue-900 h-screen">
  <h1 class="text-4xl text-white text-center py-8 font-bold">
    BUSCADOR DE USUARIOS
  </h1>

  <div class="grid justify-items-center py-6">
    <div class="text-1xl font-extrabold text-gray-900 py-5">
      Ingrese el nombre del empleado:
    </div>
    <div class="border-4 border-yellow-400">
      <input type="text" class="px-3 py-2 border border-gray-300 sm:text-sm" placeholder="Nombres" [(ngModel)]="nombres">
    </div>
  </div>

  <div class="grid justify-items-center py-4">
    <div class="text-1xl font-extrabold text-gray-900 py-5">
      Ingrese el apellido del empleado:
    </div>
    <div class="border-4 border-yellow-400">
      <input type="text" class="px-3 py-2 border border-gray-300 sm:text-sm" placeholder="Apellidos">
    </div>
  </div>

  <div class="grid gap-4 grid-cols-2 flex space-x-4 grid justify-items-center py-36">
    <div>
      <button (click)="buscarUsuario()" class="rounded-full bg-gradient-to-r from-red-500 text-white font-bold p-3 hover:text-black hover:bg-gray-300 transition duration-500">
        BUSCAR
      </button>
    </div>
  </div>
</div>
<div class="bg-gradient-to-r from-green-400 to-blue-500 space-y-4 text-2xl pl-54  text-black font-bold h-full w-full">
  <div class="w-3/5 mx-auto bg-green-200 shadow-2xl rounded pl-20">
    <div *ngFor="let item of listaUsuarios" >
      <div class="pt-16">
        Nombres:
      </div>
      <p class="text-lg pl-24 text-white">{{item.nombres}}</p>
      <div class="pt-16">
        Apellidos:
      </div>
      <p class="text-lg pl-24 text-white">{{item.apellidos}}</p>
      <div class="pt-16">
        Correo:
      </div>
      <p class="text-lg pl-24 text-white">{{item.correo}}</p>
      <br>
    </div>
  </div>
</div>
